<!DOCTYPE html>
<html>
  <head>
    <title>MyGoals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h1>

    <% if current_user.nil? %>
      <%= link_to "New User?", new_user_url %>
    <% else %>
      <%= current_user.username %>
    <% end %>

  </h1>

  <body>
    <%= yield %>
  </body>
</html>
