<h1> Here's the idiot baby you picked.</h1>
<%=  render 'header'%>
<section>
    <nav>
        <%= link_to 'Edit Cat', edit_cat_url %>
    </nav>
</section>

<section>

    <br>
    <br>

    <table>
        <thead>

            <tr>
                <th colspan="2"><%= @cat.name %> </th>
            </tr>

            <tbody>
                <tr>
                    <td>Age:</td>
                    <td><%= @cat.age %> </td>
                </tr>

                <tr>
                    <td>Sex:</td>
                    <td><%= @cat.sex %> </td>
                </tr>

                <tr>
                    <td>Color: </td>
                    <td><%= @cat.color %></td>

                </tr>

                <tr>

                    <td>Desctription: </td>
                    <td><%= @cat.description %>

                </tr>

            </tbody>


        </thead>

    </table>

    <br>

    <% @rentals.each do |rental| %>
        <div>
            <%= rental.start_date %>
            <%= rental.end_date %>
        </div>

        <br>

        <%if rental.pending? %>
                <form method="post">
                    <button type="submit" id="approve" formaction="<%= approve_cat_rental_request_url(rental) %>" name="cat_rental_request[status]" value="APPROVED">
                    <label for="approve">Approve</label>
                    </button>
                    <button type="submit" id="deny" formaction="<%= deny_cat_rental_request_url(rental) %>" name="cat_rental_request[status]" value="DENIED">
                    <label for="deny">Deny</label>
                    </button>
                </form>
        <% end %>
        
    <% end %>

</section>