<section>

    <%= @track.ord %>
    <br>
    <%= @track.title %>
    <br>
    <%= @track.lyrics %>
    <br>
    <%= @track.bonus == true ? "Bonus Track" : "" %>


</section>

<%= render "notes/note" %>

<%= link_to "Edit Track", edit_track_url(@track) %>