<h5> Let's add an album!</h5>

<section> 
    <form action="<%= albums_url %>" method="POST">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="band">Choose a Band:</label>
        <select name="bands" id="bands">

            <option value="">--Please Choose A Band--</option>
            <% @bands.each do |band| %>

            <option value="<%= band.name %>" <%= band.name == @band.name ? "selected" : "" %> > <%= band.name %> </option>

            <% end %>
        </select>



        <input type="submit" value="Submit">
    </form>

</section>