<% action_url = user_comment.persisted? ? user_comment_url(user_comment) : user_comments_url %>
<% http_method = user_comment.persisted? ? "PATCH" : "POST" %>
<% button_text = user_comment.persisted? ? "Update User Comment" : "Create User Comment" %>
<% label_text = user_comment.persisted? ? "Edit the Comment " : "Add a Comment " %>

<section> 
    <form action="<%= action_url %>" method="POST">

        <input type="hidden" name="_method" value="<%= http_method %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="name">User?</label>
        <input type="text" name="user_comment[user_id]" id="body" value="<%= user_comment.user.id %>">

        <br>

        <label for="name"><%= label_text %></label>
        <input type="text" name="user_comment[body]" id="body" value="<%= user_comment.body %>">
        
        <br>

        <input type="submit" value="<%= button_text %>">
    </form>
</section>