<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

   <header>
  
    <h1>Botify</h1>

    <% if current_user.nil? %>

      <nav>
        <ul>
          <li><%= link_to "Home", homes_url %></li>
          <li><%= link_to "New User", new_user_url %></li>
          <li><%= link_to "Login", new_session_url %></li>
        </ul>
      <nav>

    <% else %>


      <ul>
          <li><%= link_to "Home", homes_url %></li>
      </ul>

      <h4> Logged in as: <%= current_user.email %> </h4>

      <form staction="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method">
        <input type="submit" value="Logout">
      </form>

    <% end %>

    
   </header>

    <%= yield %>


  </body>

  
</html>
