<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>Botify</header>

  <br>

  <nav> The Links 
      <% if current_user.nil? %>
        <ul>
          <li><%= link_to "Home", homes_url %></li>
          <li><%= link_to "New User", new_user_url %></li>
          <li><%= link_to "Login", new_session_url %></li>
        </ul>

      <% else %>

        <div style="float: right;">
          <%= current_user.email %>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" value="delete" name="_method">
            <input type="submit" value="Logout">
          </form>
        <div>
      <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>

  
</html>
