<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>Botify</header>
  <nav> The Links 
    <ul>
      <li>
      </li>
      <li> <%= link_to "New User", new_user_url %> </li>
      <li> <%= link_to "Login", new_session_url %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>

  
</html>
