<%= link_to "Add A Comment?", new_comment_url %>

<br>


<% @user.comments.each do |comm| %>
    <%= comm.body %>
    <br>
    <%= link_to "Edit Comment?", edit_comment_url(comm.id) %>
    <form action="<%= comment_url(comm) %>" method="post">

        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete">
    </form>
    <br>
<% end %>